* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fullContent {
  height: 100vh;
  scroll-behavior: smooth;
}

#cta {
  background-image: url('./assets/emergency.jpg');
}

#cta-content {
  background-color: rgba(255, 255, 255, 0.8);
}

#content-map {
}

#header {
  display: flex;
  align-items: center;
  justify-content: center;
}
