* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(77, 182, 74);
  background: linear-gradient(
    180deg,
    rgba(77, 182, 74, 1) 0%,
    rgba(154, 255, 151, 1) 100%
  );
}

.fullContent {
  height: 100vh;
}

#content-map {
  background-image: url('./assets/peta-jakarta.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
