* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  height: 100vh;
  display: block;
}

#content-map {
  background-image: url('./assets/peta-jakarta.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
